Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
SeparateDefinitionBlocks: Leave
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
MaxEmptyLinesToKeep: 1
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
AlignConsecutiveAssignments: Consecutive
BraceWrapping:
  AfterControlStatement: Always
  AfterClass: true
  AfterCaseLabel: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false
BracedInitializerIndentWidth: 4

AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false
AlignOperands: AlignAfterOperator

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
